// vuetify 에서 제공하는 최상위 scss가 설정이 되어있어서 body에 적용하는 것은 적용이 안됨...
@import "reset.scss";


.mx-auto{
    margin:  0 auto;
}

.cp{
    cursor: pointer;
}

/* layout */
.max-w{
    max-width: 800px;
}
.v-flex{
    display: flex;
}
.v-jcsb{
    display: flex;
    justify-content: space-between;
}

.aic{
    align-items: center;
}

